body {
  background-color: $light-gray;
  color: $medium-gray;
}

.search{
  padding: 1em;

  @include media(800px){
    width: 50%;
    float: left;
  }

  .sentence, .place__type,
  .place__location {
    display: inline;
  }
}

#map-canvas{
  @include media(800px){
    width: 50%;
    float: right;
    height: 800px;
  }
}
