body {
  background-color: $light-gray;
  color: $dark-gray;
}

/**
* Section
**/
.section__title{
  text-transform: uppercase;
}

.search{
  padding: 1em;

  @include media(800px){
    position: absolute;
    width: 30%;
    float: left;
    overflow: scroll;
    height: 100%;
  }

  .sentence{
    font-size: 40px
  }
}

#map-canvas{
  @include media(800px){
    width: 70%;
    float: right;
    height: 800px;
  }
}

/**
* Results Section
**/
.place__results{
  margin: 50px 0;
  border-top: 2px solid $medium-gray;
}

.results__rating{
  color: $medium-gray;
  font-size: 11px;
}

/**
* Inputs
**/
input{
  border-bottom: 2px dashed $dark-gray;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: none;
  background: $light-gray;
  width: 90%;
  padding: 0 0 5px;
  margin: 0 0 30px;


  &:focus{
    border-bottom: 2px dashed $dark-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: none;
    outline: none;
  }
}
