body {
  background-color: $light-gray;
  color: $medium-gray;
}

/**
* Section
**/
.section__title{
  text-transform: uppercase;
}

.search{
  padding: 1em;

  @include media(800px){
    width: 30%;
    float: left;
  }

  .sentence{
    font-size: 40px
  }
}

#map-canvas{
  @include media(800px){
    width: 70%;
    float: right;
    height: 800px;
  }
}

/**
* Results Section
**/
.place__results{
  margin: 50px 0;
  border-top: 2px solid $medium-gray;
}
